/* M+ OUTLINE FONTS are free software by http://mplus-fonts.sourceforge.jp/webfonts/ */
/*@font-face {
    font-family: "mplus-2p-regular";
    src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-2p-regular.ttf") format("truetype");
}*/

body {
    font-family: /*"mplus-2p-regular", */"lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
    /*color: #efefef;*/
    /*background-color: #333;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*font-size: large;*/
    text-shadow: #666 0 0 0px;
}

a {
    /*color: #7fdf7f;*/
}
a:visited {
    /*color: #9f9fef;*/
}

div.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*h1, h2, h3 {
    font-size: 100%;
    font-weight: bolder;
}*/
